<div class="total">
  <div class="index">
    <h1 class="index_title">Bootstrap:</h1>
  </div>
  <div class="link_to">
    <%= link_to "Back to Index", root_path, {:style=>'color:#FFFFFF;'} %>
  </div>
  <div class="redirect_google">
    <p class="google">Can't find it...?</p>
    <a class="google_img" href="http://google.com"><img src="http://www.telegraph.co.uk/content/dam/technology/2016/05/09/google_3277450b-large_trans++pJliwavx4coWFCaEkEsb3kvxIt-lGGWCWqwLa_RXJU8.jpg" height="102" style="border-radius: 5px;" ""/></a>
    <p class="google">Google it !!</p>
  </div>
</div>

<div class="content">
  <br><br>
  <div class="bootstrap_head">
    <h1 class="bootstrapheader"><em>&alefsym; Learning about Bootstrap &alefsym;</em></h1>
    <img class="bootstrap_pic" src="http://www.ariwebdesign.es/img/technologies/bootstrap.png" height="80" style="border-radius:5px" />
  </div>
</div>
