<div class="total">
  <div class="css">
    <h1 class="css_title">CSS</h1>
  </div>

  <div class="link_to">
    <%= link_to "Back to Index", root_path, {:style=>'color:#FFFFFF;'}%>
  </div>
  <div class="redirect_google">
    <p class="google">Can't find it...?</p>
    <a class="google_img" href="http://google.com"><img src="http://www.telegraph.co.uk/content/dam/technology/2016/05/09/google_3277450b-large_trans++pJliwavx4coWFCaEkEsb3kvxIt-lGGWCWqwLa_RXJU8.jpg" height="102" style="border-radius: 5px;" ""/></a>
    <p class="google">Google it !!</p>
  </div>
  <br>
  <div class="quick_ref">
    <h3 id="link">Quick reference:</h3>
    <ul class="link_list">
      <li><%= link_to "To top", :anchor => "top" %></li>
      <li><%= link_to "Add white lines", :anchor => "white_lines" %></li>
      <li><%= link_to "Images", :anchor => "images" %></li>
    </ul>
  </div>
</div>
<a id="top"></a>


<div class="content">
  <br><br>
  <div class="css_head">
    <h1 class="cssheader"><em>&alefsym; Learning about CSS &alefsym;</em></h1>
    <img class="css_pic" src="http://cssjockey.com/wp-content/uploads/2013/05/cssjockey-css.png" height="60" style="border-radius:5px" />
  </div>

  <pre  class="line_height">
    <h3>line-height</h3>
      line-height makes the space between lines bigger or smaller, just what you prefer.
      It has a default value of 100%, so to make it bigger you give the line-height a percentage higher
      than a 100% and to make it smaller less then 100%.
      How it looks now is with 200% line-height.
  </pre>

  <pre>
    <h3>font-weight:</h3>
      font-weight makes the thickness of the font, <span class="font_weight">500</span> (here show as 900) is the default
      so anything higher (up till 900) will make the font look thicker. Normal usage is just the value 'bold' which is
      more than sufficiant.
  </pre>

  <pre>
    <h3><a id="white_lines"></a>Adding white lines:</h3>
      To add a white in a text you just add this line " &lt;P&gt;&amp;nbsp;&lt;P&gt; ".
      &lt;CENTER&gt; &lt;/CENTER&gt; to center your text (as used in the xhtml page).
      &lt;BR&gt; for a single space text jump.
      &lt;P&gt; for a double space text jump.
      To have text stand-out you can do like <span style="color:red">This text must stand out!</span>.
      This looks like this in html:
      To have text stand-out you can do like &lt;span style=”color:red”&gt;This text must stand out!&lt;/span&gt;.
      You can use this for all the style types
  </pre>

  <pre>
    <h3 class="google_font">Adding Google fonts</h3>
      This is fun to look at and easy to do, this title is in font-family: 'Permanent Marker', cursive;
      <span id="black_ops">this text is in font-family: 'Black Ops One', cursive;</span>
      How it works:
      You go to the site of 'Google fonts' and choose a font you like, then you click the + sign in that font block
      now you see at the bottom of the page '1 Family Selected'. Click this and follow the instructions.
      This means, add the style link to your html (between the &lt;head&gt; tags)and use the given font-family to style your site.
  </pre>

  <pre>
    <h3>Images</h3>
    <h3><a id="images"></a>Adding Images:</h3>
      To add a background image to your page you can do that by using: background-image:url(picname.jpg);
      make sure the picture you want to use is in the same folder as from where you are working.
      The picture will, by default, repeat itself over the page. To not have it repeat itself you add:
      background-repeat:no-repeat;
      To make the picture only repeat from left to right use: background-repeat:repeat-x; (as in x-as)
      for repeat up an down you can therefor use the -y; and the -z; is for forward an backward.
      With the property background-position you can position the image where you want it on your page.
      background-position takes to parameters (left right), so you can set it 10px from the left and 50px from the top like so:
      background-position:10px 50px; to make a picture in the center for several screen sizes you can also use
      percentage like so: background-position:50% 50px; which sets the pic on any screen in the middle.
    </pre>
</div>
