<div class="total">
  <div class="css">
    <h1 class="css_title">CSS</h1>
  </div>

  <div class="link_to">
    <%= link_to "Back to Index", root_path, {:style=>'color:#FFFFFF;'}%>
  </div>
  <br>
  <div class="redirect_google">
    <p class="google">Can't find it...?</p>
    <a class="google_img" href="http://google.com"><img src="http://www.telegraph.co.uk/content/dam/technology/2016/05/09/google_3277450b-large_trans++pJliwavx4coWFCaEkEsb3kvxIt-lGGWCWqwLa_RXJU8.jpg" height="80" style="border-radius: 5px;" ""/></a>
    <p class="google">Google it !!</p>
  </div>
</div>

<div class="content">
  <br><br>
  <h1 class="cssheader"><em>Learning about CSS</em></h1>
  <pre  class="line_height">
    <h3>line-height</h3>
      line-height makes the space between lines bigger or smaller, just what you prefer.
      It has a default value of 100%, so to make it bigger you give the line-height a percentage higher
      than a 100% and to make it smaller less then 100%.
      How it looks now is with 200% line-height.
  </pre>

  <pre>
    <h3>font-weight</h3>
      font-weight makes the thickness of the font, <span class="font_weight">500</span> (here show as 900) is the default
      so anything higher (up till 900) will make the font look thicker. Normal usage is just the value 'bold' which is
      more than sufficiant.
  </pre>

  <pre>
    <h3>Adding white lines</h3>
      To add a white in a text you just add this line " &lt;P&gt;&amp;nbsp;&lt;P&gt; ".
      &lt;CENTER&gt; &lt;/CENTER&gt; to center your text (as used in the xhtml page).
      &lt;BR&gt; for a single space text jump.
      &lt;P&gt; for a double space text jump.
      To have text stand-out you can do like <span style="color:red">This text must stand out!</span>.
      This looks like this in html:
      To have text stand-out you can do like &lt;span style=”color:red”&gt;This text must stand out!&lt;/span&gt;.
      You can use this for all the style types
  </pre>
</div>
