<div class="total">
  <div class="index">
    <h1 class="index_title">jQuery:</h1>
  </div>
  <div class="link_to">
    <%= link_to "Back to Index", root_path, {:style=>'color:#FFFFFF;'} %>
  </div>
  <div class="redirect_google">
    <p class="google">Can't find it...?</p>
    <a class="google_img" href="http://google.com"><img src="http://www.telegraph.co.uk/content/dam/technology/2016/05/09/google_3277450b-large_trans++pJliwavx4coWFCaEkEsb3kvxIt-lGGWCWqwLa_RXJU8.jpg" height="102" style="border-radius: 5px;"/></a>
    <p class="google">Google it !!</p>
  </div>
</div>

<div class="content">
  <br><br>
  <div class="jquery_head">
    <h1 class="jqueryheader"><em>&alefsym; Learning about jQuery &alefsym;</em></h1>
    <img class="jquery_pic" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d3/Logo_jQuery.svg/2000px-Logo_jQuery.svg.png" height="80" style="border-radius:5px" />
  </div>
</div>
