// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.index_title, .css_title, .xhtml_title, .js_title, .wp_title {
  font-family: fantasy;
  text-decoration: underline;
  margin: 10px 10px 10px 10px;
  color: #585858;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

pre h3:first-letter {
  font-family: sans-serif;
}

img .css_pic, .bootstrap_pic, .angular_pic, .js_pic, .jquery_pic {
  max-width: 100px;
  max-height: 100px;
}

.total {
    display: flex;
    flex-direction: column;
    position: fixed;
    min-height: 97%;
    border-radius: 5px;
    background-color: #A4A4A4;
    // width: 175px;
  }

.link_to {
  margin: 10px 10px 10px 10px;
}

.google {
    font-family: fantasy;
    font-size: 15px;
    margin: 5px 5px 5px 5px;
    border-style: dashed;
    text-align: center;
    border-width: thin;
    border-color: #fff;
}

.google_img {
  margin-left: 6px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 200px;
}

.top_split {
  display: flex;
  flex-wrap: wrap;
  margin-left: -475px;
}

.pics {
  font-family: fantasy;
  text-decoration: underline;
  border-color: #2E2E2E;
  border-radius: 5px;
  margin-left: 525px;
}

#bull_pic {
  max-width: 100%;
  height: 50px;
  border-radius: 50%;
  border-style: ridge;
  margin-left: 50px;
}

a:link {
  color: #173B0B;
  text-decoration: none;
}

a:visited {
  color: #FE9A2E;
}

a:hover {
  color: #D8D8D8;
  text-decoration: underline;
  font-weight: bold;
}

a:active {
  color:#F5ECCE;
  text-decoration: none;
}

button {
  cursor:pointer;
}

li {
  color: #424242;
}

h3 {
  margin-left: 50px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  text-decoration: underline;
}

.cssheader, .xhtml_header, .index_header, .bootstrapheader, .angularheader, .jsheader, .jqueryheader, .wpheader {
  font-family: 'Bevan', cursive;
  margin-left: 50px;
  padding: 10px 10px 10px 10px;
  border-style: solid;
  border-radius: 10px;
  border-color: #ffffff;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b5bdc8+0,828c95+36,28343b+100;Grey+Black+3D */
  background: rgb(181,189,200); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
}

.css_head, .xhtmlhead, .bootstrap_head, .angular_head, .js_head, .jquery_head, .wp_head {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.css_pic, .bootstrap_pic, .angular_pic, .js_pic, .jquery_pic {
  margin-right: 60px;
}

.link_list {
  font-size: 15px;
}

ul li {
  background-color: #848484;
  margin: 2px;
  border-radius: 2px;
  list-style-type: none;
}

ul {
  padding: 0;
}

.quick_ref {
  background-color: #6E6E6E;
  border-radius: 5px;
  margin: 5px 5px 5px 5px;
}

#link {
  font-size: 15px;
  margin-left: 8px;
  padding-top: 7px;
}

.bull_pic {
  float: right;
  border-radius: 5px;
}

table {
  border-color: #424242;
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
  max-width: 400px;
  max-height: 400px;
}

tr {
  background-color: #848484;
}

.table_header {
  float: left;
  margin-left: 75px;
  color: white;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
  font-size: 50px;
}

.data_row {
  font-family: 'Permanent Marker', cursive;
}

td {
  text-align: center;
}

.people {
  margin-left: 40px;
}

.line_height {
  line-height: 200%;
}

.font_weight {
  font-weight: 900;
}

.index_content {
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
  margin-top: 60px;
  margin-left: 150px;
  // margin-right: 70px;
  margin-bottom: 150px;
}

.index_header_text {
  font-family: fantasy;
  font-size: 20px;
  height: 130px;
  margin-left: 215px;
  text-decoration: underline;
  color: #ffffff;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.index_header {
  display: flex;
  flex-direction: column;
  margin-left: 183px;
  margin-right: 220px;
  border-style: solid;
  border-radius: 10px;
  padding: 5px 5px 5px 90px;
  border-color: #ffffff;
  width: 77%;
  height: 100%;
}

.maker {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: left;
    margin-left: 6px;
  }

.google_fonts {
  font-family: 'Permanent Marker', cursive;
}

#black_ops {
  font-family: 'Black Ops One', cursive;
}

.line_alink {
  text-decoration: underline;
}
