<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FrontEnd</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Permanent+Marker|Special+Elite|Bevan|Monsieur+La+Doulaise" rel="stylesheet">
  </head>

  <body>
    <%= yield %>

    <div class="maker">
      <h6>&copy; made by: Frank de Wolf</h6>
    </div>

  </body>
</html>
